<div ng-controller="AboutMissionsCtrl">
      
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>Our Missions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <img src="img\mission.jpg"
                        class="img-responsive img-rounded">
                    </div>
                    <div class="col-md-7">
                        <h1>Tran Uy Gym</h1>
                        <h3>From 2012</h3>
                        <p>Your body is designed to move with purpose. &nbsp;Tran Uy Gym can help you go further with the right balance of training and motivation. Combine
                        our fully equipped gyms with specialised exercise techniques to explore
                        new ways to challenge yourself.</p>
                    </div>
                </div>
            </div>
        </section>
</div>