<div ng-controller="AboutCentersCtrl">
   
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Our Centers</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 google-maps">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1960.2493799485333!2d106.70476289570024!3d10.6959600692398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317530194c5bd109%3A0x526d3124197eb3d8!2zOTkgTMOqIFbEg24gTMawxqFuZywgUGjGsOG7m2MgS2nhu4NuZywgTmjDoCBCw6gsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1432004403534" width="400" height="300" frameborder="0" style="border:0"></iframe>
                </div>

                <div class="col-md-6">
                    <h1>Tran Uy 1</h1>
                    <h3>Address</h3>
                    <p>99A Lê Văn Lương, Phước Kiểng, Nhà Bè, Hồ Chí Minh, Vietnam
                        70000</p>
                    <h3>Opening Hours</h3>
                    <p>5:00AM - 8:30PM</p>
                    <h3>Contact Number</h3>
                    <p>01234567533 (Mr. Uy)</p>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 google-maps">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5378583049696!2d106.6715164!3d10.770055699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ede46c2e927%3A0x428ff39af63d0336!2zNTA2IEJhIHRow6FuZyBIYWksIHBoxrDhu51uZyAxMCwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1432003757403" width="400" height="300" frameborder="0" style="border:0"></iframe>
                </div>

                <div class="col-md-6">
                    <h1>Tran Uy 2</h1>
                    <h3>Address</h3>
                    <p>506 Ba tháng Hai, phường 10, Quận 10, Hồ Chí Minh, Vietnam
                        70000</p>
                    <h3>Opening Hours</h3>
                    <p>5:00AM - 8:30PM</p>
                    <h3>Contact Number</h3>
                    <p>0933333596 (Ms. Thu)</p>
                </div>
            </div>
        </div>
    </section>
    
</div>