<div ng-controller="AboutMissionsCtrl">
      
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>Our Missions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="file:///C:/Users/Mia/Dropbox/Dev Mobility solution Assignment/Assignment 2/Assignment 2/img/TranUyGym.jpg"
                        class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h1>Tran Uy Gym</h1>
                        <h3>From 2012</h3>
                        <p>Your body is designed to move with purpose. &nbsp;Tran Uy Gym can help you go further with the right balance of training and motivation. Combine
                        our fully equipped gyms with specialised exercise techniques to explore
                        new ways to challenge yourself.</p>
                    </div>
                </div>
            </div>
        </section>
</div>