<div ng-controller="AboutTrainersCtrl">
        
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Our Team
                            <br/>
                            <font color="#777777">
                                <span style="font-size: 24px; line-height: 24px;">We are group of skilled and enthusiastic trainers</span>
                            </font>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                    <div class="col-md-6 col-sm-6" ng-repeat="item in trainers">
                        
                        <div class="panel panel-default all-trainer">
                            <div class="panel-body trainer text-center" id="single-trainer">
                                <img ng-src="{{item.imgsrc}}" class="img-circle img-responsive"/>

                                <h3>{{item.name}}</h3>
                                <p>{{item.class}}</p>
                                <h4>{{item.description[0]}}</h4>
                                <p>{{item.description[1]}}</p>
                                <h4>{{item.description[4]}}</h4>
                                <p>{{item.description[5]}}</p>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </section>

 </div>