 <div ng-controller="ProfileCtrl">   
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="img/person.jpg"
                    class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h1>My Profile</h1>
                        <script type="text/javascript">
                            $( document ).ready(function() {
                                console.log("document ready");
                                if (currentUser) {
                                    console.log("currentUser available");
                                    $("#profileButton").html('<a href="#/logout">Logout</a>');

                                    $("#inputEmail").val(currentUser.get("email"));
                                    /*
                                    $("#inputFullname").val(currentUser.get("fullname"));
                                    $("#inputDate").val(currentUser.get("birthday").toLocaleDateString());
                                    $("#inputPhone").val(currentUser.get("phoneNumber"));
                                    */
                                    
                                    if (currentUser.get("fullname")) {
                                        $("#inputFullname").val(currentUser.get("fullname"));
                                    }; 
                                    if (currentUser.get("birthday")) {
                                        $("#inputDate").val(currentUser.get("birthday").toLocaleDateString());
                                    };
                                    if (currentUser.get("phoneNumber")) {
                                        $("#inputPhone").val(currentUser.get("phoneNumber"));
                                    }; 
                                    
                    
                                    
                                    
                                };
                            });
                            $('#profileButton').click(function(e){
                                $(this).html('<a href="#/login">Login</a>');
                                window.location.href = window.location.hostname + window.location.pathname;
                                e.preventDefault();
                            });

                            function saveBtnOnClick() {
                                if (currentUser) {
                                    currentUser.set("fullname",$("#inputFullname").val());
                                    currentUser.set("phoneNumber",$("#inputPhone").val());
                                    var d = new Date($("#inputDate").val());
                                    currentUser.set("birthday",d);
                                    currentUser.save(null, {
                                        success: function(user) {
                                                alert("Your profile information has been successfully updated.");
                                        },
                                    
                                        error: function(user,error) {
                                            console.log(error);
                                        }
                                    });
                                } else {
                                    alert('Please login.');
                                }
                            }
                        </script>
                    <form class="form-horizontal" role="form" onload="loadInfo()">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="inputFullname" class="control-label">Full Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFullname" placeholder="Enter your full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="inputDate" class="control-label">Birthday</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputDate" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="inputEmail" class="control-label">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail" placeholder="example@email.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="inputPhone" class="control-label">Phone Number</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPhone" placeholder="+84 ### ### ###">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" onclick="saveBtnOnClick()" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>MEMBERHSIP INFORMATION</h3>
                    <p>Current membership type: Bronze</p>
                    <p>Expiry Date: 20th October 2015</p>
                </div>
                <div class="col-md-8">
                    <h3>CURRENT ENROLLED CLASSES</h3>
                    <ol>
                        <li>
                            <p>Yoga</p>
                            <p>8:00 AM - 10:00 AM</p>
                            <p>Tuesday - Thursday</p>
                        </li>
                        <li>
                            <p>Personal Training</p>
                            <p>1:00 PM - 3:00 PM</p>
                            <p>Tuesday - Thursday</p>
                        </li>
                        <li>
                            <p>Zumba</p>
                            <p>7:00 PM - 8:00 PM</p>
                            <p>Wednesday</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>