<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>Tran Uy Gym</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Schedule</a>
                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown"> About <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Our Mission</a>
                                    <a href="#">Our Team</a>
                                    <a href="#">Our Centers</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">My Profile</a>
                        </li>
                    </ul>
                    <div class="btn-group btn-group-lg"></div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                        class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h1>My Profile</h1>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="inputFullname" class="control-label">Fullname</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFullname" placeholder="Fullname">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="inputDate" class="control-label">Birthday</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputDate" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="inputEmail" class="control-label">Email</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="example@email.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="inputPhone" class="control-label">Phone Number</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="+84 ### ### ###">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>MEMBERHSIP INFORMATION</h3>
                        <p>Current membership type: Bronze</p>
                        <p>Expiry Date: 20th October 2015</p>
                    </div>
                    <div class="col-md-8">
                        <h3>CURRENT ENROLLED CLASSES</h3>
                        <ol>
                            <li>
                                <p>Yoga</p>
                                <p>8:00 AM - 10:00 AM</p>
                                <p>Tuesday - Thursday</p>
                            </li>
                            <li>
                                <p>Personal Training</p>
                                <p>1:00 PM - 3:00 PM</p>
                                <p>Tuesday - Thursday</p>
                            </li>
                            <li>
                                <p>Zumba</p>
                                <p>7:00 PM - 8:00 PM</p>
                                <p>Wednesday</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>