<div ng-controller="ScheduleController">
<section>
    <div class="container">
        <div class="row">
            <h2 class="page-header">Schedule of Classes</h2>
            <div class="col-md-10 col-sm-6">
                <form class="sche-filter">
                    <label for="exercise">Select Exercise:</label>
                    <select id="exercise" ng-model="selectedExercise">
                        <option value="">All exercises</option>
                        <option value="Gym">Gym</option>
                        <option value="Aerobic">Aerobic</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Martial Art">Martial Art</option>
                    </select>
                </form>
            </div>
            <div class="col-md-2 col-sm-6">
                <!-- <form class="sche-filter">
                    <label for="instructor">Select Instructor:</label>
                    <select id="instructor" ng-model="selectedInstructor">
                        <option value="Giây">Mr. Giây</option>
                        <option value="Duy">Mr. Duy</option>
                        <option value="Lắm">Miss Lắm</option>
                        <option value="Bích">Miss Bích</option>
                        <option value="Ngọc">Miss Ngọc</option>
                        <option value="Hiền">Mrs. Hiền</option>
                        <option value="Hoa">Mrs. Hoa</option>
                        <option value="Thủy">Mrs. Thủy</option>
                        <option value="Tùng">Mr. Tùng</option>
                        <option value="Vương">Mr. Vương</option>
                    </select>
                </form> -->
                <a class="btn btn-primary" align="center" href="#/register-class">Join a class</a>
            <p></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center table-responsive">
                <table st-table="schedule" class="table table-striped" id="schedule">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in schedule | filter: selectedExercise">
                            <td>{{row.hour}}</td>
                            <td ng-repeat="date in row.day | filter: selectedInstructor" ng-if="$index >= 0">
                                {{date.type}}
                                </br>
                                {{date.duration}}
                                </br>
                                {{date.hlv}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</div>