<div ng-controller="ScheduleController">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="sche-filter">
                    <label for="exercise">Select Exercise:</label>
                    <select id="exercise" ng-model="selectedExercise">
                        <option value="">All exercises</option>
                        <option value="Gym">Gym</option>
                        <option value="Aerobic">Aerobic</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Martial Art">Martial Art</option>
                    </select>
                </form>
            </div>
            <div class="col-md-6">
                <form class="sche-filter">
                    <label for="instructor">Select Instructor:</label>
                    <select id="instructor" ng-model="selectedInstructor">
                        <option value="Giây">Mr. Giây</option>
                        <option value="Duy">Mr. Duy</option>
                        <option value="Lắm">Miss Lắm</option>
                        <option value="Bích">Miss Bích</option>
                        <option value="Ngọc">Miss Ngọc</option>
                        <option value="Hiền">Mrs. Hiền</option>
                        <option value="Hoa">Mrs. Hoa</option>
                        <option value="Thủy">Mrs. Thủy</option>
                        <option value="Tùng">Mr. Tùng</option>
                        <option value="Vương">Mr. Vương</option>
                    </select>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <table st-table="schedule" class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th></th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in schedule | filter: selectedExercise">
                            <td>{{row.hour}}</td>
                            <td ng-repeat="date in row.day | filter: selectedInstructor" ng-if="$index >= 0">
                                {{date.type}}
                                </br>
                                {{date.hlv}}
                                </br>
                                {{date.duration}}
                            </td>
                            <!-- <td>
                                {{day.tuesday.type}}
                                </br>
                                {{day.tuesday.hlv}}
                                </br>
                                {{day.tuesday.duration}}
                            </td> -->
                            <!-- <td>
                                {{row.wednesday.type}}
                                </br>
                                {{row.wednesday.hlv}}
                                </br>
                                {{row.wednesday.duration}}
                            </td>
                            <td>
                                {{row.thursday.type}}
                                </br>
                                {{row.thursday.hlv}}
                                </br>
                                {{row.thursday.duration}}
                            </td>
                            <td>
                                {{row.friday.type}}
                                </br>
                                {{row.friday.hlv}}
                                </br>
                                {{row.friday.duration}}
                            </td>
                            <td>
                                {{row.saturday.type}}
                                </br>
                                {{row.saturday.hlv}}
                                </br>
                                {{row.saturday.duration}}
                            </td>
                            <td>
                                {{row.sunday.type}}
                                </br>
                                {{row.sunday.hlv}}
                                </br>
                                {{row.sunday.duration}}
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</div>