<div ng-controller="ServiceController">

    <section id="service-topimg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs hidden-sm">
                    <img src="img\service-top-img.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="page-header">Services at Tran Uy Gym</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <tabset justified="true">
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                            <h4>{{tab.contentHead1}}</h4>
                            <p>{{tab.contentBody1}}</p>
                            <br/>
                            <!-- <div class="gridStyle" ng-grid="tab.table"> -->
                            <!-- <table ng-table="tab.table" class="table ng-table-responsive">
                                <tr ng-repeat="exercise in tab.table.data">
                                    <td data-title="'Name'">
                                        {{exercise.name}}
                                    </td>
                                    <td data-title="'Description'">
                                        {{exercise.desc}}
                                    </td>
                                </tr>
                            </table> -->
                            <table st-table="tab.table" class="table table-striped">
                                <!-- <thead>
                                    <tr class="text-center">
                                        <th></th>
                                        <th>Program Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <tr ng-repeat="row in tab.table">
                                        <td>{{row.name}}</td>
                                        <td>{{row.desc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <h4>{{tab.contentHead2}}</h4>
                            <p>{{tab.contentBody2}}</p>
                            <h4>{{tab.contentHead3}}</h4>
                            <p>{{tab.contentBody3}}</p>
                            <h4>{{tab.contentHead4}}</h4>
                            <p>{{tab.contentBody4}}</p>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>

</div>