<div ng-controller="ServiceController">

    <div class="jumbotron">
        <div class="container">
            <img src="img\images.jpg" class="img-responsive img-rounded hidden-sm hidden-xs">
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="page-header">Services at Tran Uy Gym</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <tabset justified="true">
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                            <h4>{{tab.contentHead1}}</h4>
                            <p>{{tab.contentBody1}}</p>
                            <table st-table="tab.table" class="table table-striped">
                                <tbody>
                                    <tr ng-repeat="row in tab.table">
                                        <td>{{row.name}}</td>
                                        <td>{{row.desc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>{{tab.contentHead2}}</h4>
                            <p>{{tab.contentBody2}}</p>
                            </br>
                            <h4>{{tab.contentHead3}}</h4>
                            <p>{{tab.contentBody3}}</p>
                            </br>
                            <h4>{{tab.contentHead4}}</h4>
                            <p>{{tab.contentBody4}}</p>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>

</div>